<%- include('partiels/header.ejs') %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/stylesheets/show.css">
  <%- include('partiels/nav.ejs') %>


    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <% for(let i=0;i<bookList.length;i++){ %>
          <div class="swiper-slide">
            <img src="<%= bookList[i].imageLink %>" alt="">
            <div class="left-info-section">
              <h1 style="opacity: 0.8;">
                <%= bookList[i].title %>
              </h1>
              <p>
                Dive into 'Whispers of the Forgotten' by <span>
                  <%= bookList[i].author %>
                </span>, a gripping novel with <span>
                  <%= bookList[i].pages %>
                </span> pages, published in <span>
                  <%= bookList[i].year %>
                </span>. Journey through a world of secrets and redemption in this literary gem from <span>
                  <%= bookList[i].country %>
                </span>. 
              </p>

              <div class="d-flex ms-5" style="gap: 1vw;">
                <a href="/delete/<%= i %>" class="btn btn-outline-danger">Delete</a>
                <a href="/update/<%= i %>" class="btn btn-outline-primary">Update</a>
                <a target="_blank" href="<%= bookList[i].link %>" class="btn btn-outline-info">View product details</a>
              </div>
            </div>
          </div>
          <% } %>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        // autoplay: {
        //   delay: 2500,
        //   disableOnInteraction: false,
        // },
        pagination: {
          el: ".swiper-pagination",
          type: "fraction",
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
    <%- include('partiels/footer.ejs') %>